.container {
  padding: 2rem;
}
.headerContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.headerText {
  width: 50rem;
  padding-right: 2rem;
}
.articleContainer {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}
.articleContainer div {
  width: 45rem;
  padding: 2rem 1rem;
}
.articleContainer div:nth-child(2) {
  display: flex;
  justify-content: center;
}
.articleContainer div:first-child h1 {
  font-size: 3rem;
  margin-bottom: 0;
}
.articleContainer div:first-child small {
  font-size: 1.2rem;
}
.articleContainer div:first-child p {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.image {
  height: 35rem;
}
