.starWrapper {
  position: relative;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-image: url("../assets/svg/Star.svg");
  background-size: contain;
  opacity: 0.2;
  z-index: 1;
}
